<p>This is the user delete page :)</p>

<form action="/" method="DELETE">
   <input type="text" name="name" placeholder="Name" value="">
   <input type="text" name="age" placeholder="Age" value="">
   <input type="text" name="weight" placeholder="weight" value="">
   {{!-- <input type="text" name="img" placeholder="Image" value="">
   <input type="text" name="createdAt" placeholder="Date Posted" value=""> --}}
   <button type="submit">Delete User</button>
</form>