<h3>{{user.name}}</h3>
<div>Weight: {{user.weight}}</div>
<div>Age: {{user.age}}</div>
{{!-- {{bodyPart}} --}}



{{!-- I want to be able to add a body part to a user, and then be able to add a lift to a body part. But this is how
far I got. Can't believe I even made it this far tbh. --}}